.custom-shape {
  background: linear-gradient(200deg, #00619B, #16324F);
  background-size: 200% 200%;
  padding: 40px;
  min-height: 60vh;
  width:100%;
  box-sizing: border-box;
  animation: Gradient 6s ease infinite, slideIn 2s forwards;
}
@keyframes fadeInOut {
  0% { opacity: 0; }
  25% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 0; }
}

#title, #subtitle {
  font-size:2em;
  opacity: 0;
  animation: fadeInOut 10s infinite;
}

#subtitle {
  animation: fadeInOut 10s 5s infinite;
}

@keyframes Gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

@keyframes slideIn {
  from {
      transform: translateY(-70%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

#title h1 {
  color: #fefefe;
  font-size: 5vw;
  margin: 3.5px;
}

@media (max-width: 768px) {
  #title {
    font-size: 1.5em;
  }
  #subtitle {
    font-size: 1.2em;
  }
}
.wiki-image-container {
  max-width: 100%; 

  img {
    width: 100%;
    height: auto; 
    max-width: none; 
  }
}
/* human-practices page */
.toggle-buttons {
  margin-bottom: 20px;
}

.box-container {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.box {
  background-color: global.$color-rose;
  color: global.$header-color;
  padding: 20px;
  flex: 1;
  margin: 0 10px;
  text-align: center;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  z-index: 2;
  position: relative;
}

.box:hover {
  background-color: rgb(182, 182, 223);
}

#human-practices {
  display: block;
}
#integrated-human-practices {
  display: block;
}

.timeline {
  width: 200px;
  border-left: 2px solid #333;
  padding-left: 10px;
}

.entry {
  margin-bottom: 20px;
}

.name {
  cursor: pointer;
  padding: 5px 10px;
  background-color: #eee;
  border-radius: 5px;
  position: relative;
}

.details {
  display: none;  /* Hide by default */
  padding: 5px 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-top: 10px;
  position: relative;
  z-index: 1;  /* Ensure it's in front when displayed */
}
/* ... (rest of your styles) */

.content-section {
  display: none;
}

