.custom-shape {
  background: linear-gradient(200deg, #276bff, #c4b6be);
  background-size: 200% 200%;
  padding: 20px;
  min-height: 30vh;
  animation: Gradient 6s ease infinite, slideIn 2s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

#title,
#subtitle {
  font-size: 2em;
  opacity: 0;
  animation: fadeInOut 10s infinite;
}

#subtitle {
  animation: fadeInOut 10s 5s infinite;
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-70%);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#title h1 {
  color: #fefefe;
  font-size: 5vw;
  margin: 3.5px;
}

@media (max-width: 768px) {
  #title {
    font-size: 1.5em;
  }

  #subtitle {
    font-size: 1.2em;
  }
}