// FONTS

@font-face {
  font-family: 'Gilroy-Regular';
  src: url("https://static.igem.wiki/teams/4584/wiki/fonts/gilroy-regular-b91b01.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Regular-Italic';
  src: url("https://static.igem.wiki/teams/4584/wiki/fonts/gilroy-thinitalic-746b43.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium';
  src: url("https://static.igem.wiki/teams/4584/wiki/fonts/gilroy-medium-f9f832.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Medium-Italic';
  src: url("https://static.igem.wiki/teams/4584/wiki/fonts/gilroy-mediumitalic-055223.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Regular-Italic';
  src: url("https://static.igem.wiki/teams/4584/wiki/fonts/gilroy-thinitalic-746b43.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url("https://static.igem.wiki/teams/4584/wiki/fonts/gilroy-bold-b90032.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Bold-Italic';
  src: url("https://static.igem.wiki/teams/4584/wiki/fonts/gilroy-bolditalic-6bea4a.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Semi-Bold';
  src: url("https://static.igem.wiki/teams/4584/wiki/fonts/gilroy-semibold-678029.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Semi-Bold-Italic';
  src: url("https://static.igem.wiki/teams/4584/wiki/fonts/gilroy-semibolditalic-3de62e.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Thin';
  src: url("https://static.igem.wiki/teams/4584/wiki/fonts/gilroy-thin-a21a13.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Thin-Italic';
  src: url("https://static.igem.wiki/teams/4584/wiki/fonts/gilroy-thinitalic-746b43.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Light';
  src: url("https://static.igem.wiki/teams/4584/wiki/fonts/gilroy-light-1b7fff.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Light-Italic';
  src: url("https://static.igem.wiki/teams/4584/wiki/fonts/gilroy-lightitalic-181ce0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Extra-Bold';
  src: url("https://static.igem.wiki/teams/4584/wiki/fonts/gilroy-extrabold-0ac687.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Extra-Bold-Italic';
  src: url("https://static.igem.wiki/teams/4584/wiki/fonts/gilroy-extrabolditalic-9c9417.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Heavy-Italic';
  src: url("https://static.igem.wiki/teams/4584/wiki/fonts/gilroy-heavyitalic-865575.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gilroy-Heavy';
  src: url("https://static.igem.wiki/teams/4584/wiki/fonts/gilroy-heavy-73c8d0.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Tildasans-VF';
  src: url("https://static.igem.wiki/teams/4584/wiki/fonts/tildasans-vf.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}