/* footer */
.footer {
    background-color: #2a2f33 !important;
    color: #fff;
    padding-bottom: 50px;
    padding-top: 30px;
  }
footer a {color: white; text-decoration: none;}

.footer .creds .small > a:hover { 
    color: #1e6cf7;
    border-bottom: 1px solid #1e6cf7}
.footer .creds .small > a {
    border-bottom:1px solid #e5e7eb;
    transition:all .3s ease
}

.footer p {
    font-size: 14px; 
    line-height: 17px;
}
