$color-coloblue: rgba(0, 97, 155, 1);
$subtext-color: #009b87;
$header-color: #00619b;
$main-font: 'Tildasans-VF';
$main-font-italic: 'Gilroy-Regular-Italic';
$font-size-desc2: 1rem;
$color-rose: #c0b3d0;
$color-white: #fff;
$color-pink: #149B00;
$hamburger-layer-color: #fff !default;