@use "global.scss";

// background objects

@-webkit-keyframes bgObjectItemInnerAnim {
    0% {
        -webkit-transform: translateX(-4%);
        transform: translateX(-4%)
    }

    to {
        -webkit-transform: translateX(4%);
        transform: translateX(4%)
    }
}

@keyframes bgObjectItemInnerAnim {
    0% {
        -webkit-transform: translateX(-4%);
        transform: translateX(-4%)
    }

    to {
        -webkit-transform: translateX(4%);
        transform: translateX(4%)
    }
}

@-webkit-keyframes bgObjectItemImageAnim {
    0% {
        -webkit-transform: translateY(-4%);
        transform: translateY(-4%)
    }

    to {
        -webkit-transform: translateY(4%);
        transform: translateY(4%)
    }
}

@keyframes bgObjectItemImageAnim {
    0% {
        -webkit-transform: translateY(-4%);
        transform: translateY(-4%)
    }

    to {
        -webkit-transform: translateY(4%);
        transform: translateY(4%)
    }
}

.bgObjects {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: -0;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    width: 100%;
    z-index: -2;
}

.bgObjectItem {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    /* display: -webkit-box; */
    /* display: -ms-flexbox; */
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 80vmax;
    position: relative;
    width: 100%;
}

.bgObjectItem::before {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.bgObjectItem-Inner::before {
    content: "";
    display: block;
    padding-top: 121.231%;
    width: 100%;
}

.bgObjectItem-Inner {
    -webkit-animation: bgObjectItemInnerAnim 4s cubic-bezier(.445, .05, .55, .95) 0s infinite alternate;
    animation: bgObjectItemInnerAnim 4s cubic-bezier(.445, .05, .55, .95) 0s infinite alternate;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-play-state: running;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    margin-left: -40vmax;
    position: relative;
    width: 80vmax;
}

.bgObjectItem-Inner img {
    -webkit-animation: bgObjectItemImageAnim 4s cubic-bezier(.445, .05, .55, .95) 0s infinite alternate;
    animation: bgObjectItemImageAnim 4s cubic-bezier(.445, .05, .55, .95) 0s infinite alternate;
    animation-play-state: running;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

.bgObjectItem:nth-child(odd) {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.bgObjectItem:nth-child(odd) .bgObjectItem-Inner {
    margin-left: 0;
    margin-right: -40vmax;
}


.header {
    display: grid;
    grid: [track] 100%/[track] 100%;
    height: calc(100vh - 7rem);
    min-height: 500px;
    margin-top: 57px;
    position: relative;

}

// index wrapper 
.index__page__inner {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-top: 3.75rem;
    width: 100%;
}

@media (min-width: 1024px) {
    .index__page__inner {
        padding-top: 0.25rem;
    }
}

.index-section {
    margin-top: 25em;
    position: relative;
}

.loader__text {
    display: flex;
    margin-right: .24rem;
    opacity: 0;
}

// headblock 
@media (min-width: 1024px) {
    .headBlock__main {
        height: 35.5rem;
        padding-left: 11.1111111111%;
        padding-right: 11.1111111111%;
    }
}

.headBlock__main {
    height: 40.8rem;
    padding-left: 7.2%;
    padding-right: 7.2%;
    position: relative;
}

.headBlock__titlesWrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 70rem;
    padding-top: 6rem;
    position: relative;
}

@media (min-width: 768px) {
    .headBlock__titlesWrapper {
        padding-top: 7.5rem;
    }
}

@media (min-width: 1024px) {
    .headBlock__titlesWrapper {
        padding-top: 15rem;
        ;
    }
}

.headBlock__title__container {
    line-height: 200%;
    font-size: 67px;
    color: global.$color-rose;
    font-weight: 600;
}

.headBlock__title__container span {
    display: inline-block;
    white-space: nowrap;
    opacity: 1;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.headBlock__subtitle__line {
    line-height: inherit;
    font-size: 5.95rem;
    color: inherit;
    font-weight: 300;
    font-family: 'Gilroy-Bold';

}

.headBlock__title__line {
    line-height: inherit;
    font-size: 13rem;
    color: inherit;
    font-weight: inherit;
    filter: drop-shadow(1px 1px 3px black);
    letter-spacing: -.04em;
    font-family: 'Gilroy-Semi-Bold';

}

.headBlock__description__line {
    line-height: inherit;
    font-size: 40px;
    color: inherit;
    font-weight: 200;
}

// headblock gasvesicle

.index_headBlockImage-container img {
    height: 125%;
    opacity: 1;
    position: absolute;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-property: opacity;
    transition-property: opacity;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
    width: 30%;
    filter: drop-shadow(1px 1px 2px black);

}

.index_headBlockImage-container {
    border-radius: 1rem;
    height: 50%;
    position: absolute;
    width: 100%;
    padding: 1em 5.25em 0em 0em;
}

@media (max-width: 480px) {
    .index-header .title {
        display: flex;
        flex-direction: column;
        max-width: 100%;
    }
}

#index-title {
    color: global.$color-white;
}

.index-text {
    color: global.$color-rose;
    font-size: 1.5em;

}

.white {
    color: global.$color-white;
}

#index-cards {
    margin-top: 2rem;
}

#index-cards .card-title {
    color: global.$color-white;
}

#index-cards .card-text,
#index-cards .card-subtitle {
    color: global.$color-rose;
}