@use "global.scss";

.static-bg {
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: rotatingBg;
    animation-timing-function: linear;
    height: 312%;
    left: -50%;
    position: fixed;
    top: -100%;
    transform: translateX(50%);
    width: 200%;
    z-index: -1;
}
@keyframes rotatingBg {
    0% {
      transform:rotate(0)
    }
    to {
      transform:rotate(1turn)
    }
  }
.header {
    display: grid;
    grid: [track] 100%/[track] 100%;
    height: calc(100vh - 7rem);
    min-height: 500px;
    margin-top: 57px;
    position: relative;   

}
.index-wrapper {
    padding-top: 20rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.index-section {
    margin-top: 25em; 
    position: relative;   
}

.loader__text {
    display: flex;
    margin-right: .24rem;
    opacity: 0;
}
.header-text {
    line-height: 110%;
    font-size: 67.9887px;
    color: global.$color-rose;
    font-weight: 600;
}
.header-text span{
    display: inline-block;
    white-space: nowrap;
    opacity: 1;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);  
}

@media (max-width: 480px) {
    .index-header .title {
      display: flex;
      flex-direction: column;
      max-width: 100%;
    }
  }
#index-title {
    color: global.$color-white;
}
.index-text {
    color: global.$color-rose;
    font-size: 1.5em;

}
.white {
    color: global.$color-white;
}
#index-cards {
    margin-top: 2rem;
}
#index-cards .card-title {
    color: global.$color-white;
}
#index-cards .card-text, #index-cards .card-subtitle {
    color: global.$color-rose;
}