@use "global.scss";

// todo: navbar dropdown working but the menu width is too small. 
// shift to hamburger menu?

#navbar{   
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7rem;
    padding: 0 var(--side-margin);
    background-color: #e5e5e5;
    box-shadow: 0 2px 6px rgba(0,0,0,.1333333333);
    width: 100%;
    z-index: 10;
    position: fixed;
    transition: height 300ms;}

.navbar-scrolled {
    height: 4.1176470588rem !important;
    transition: height 300ms;   
}

.navbar-brand img {
    height: 100%;
    user-select: none;} 

.navbar-brand   {
    width: fit-content;
    height: 100%;
    margin-right: 2rem;
    padding: .4rem 0;
    color: #000;
    display: flex;
}

.nav-item {
    padding: .6rem 1rem;
    border-radius: 4px;
    transition: background-color 150ms;
}
#navbar-item:hover {
    background-color: var(--item-background, global.$color-coloblue);
    color: #fff;  
    transition: all .2s cubic-bezier(0.17,0.17,0.41,1.0);
}
#navbar-item {
    color: #000000;
    font-size: 1.2rem;  
    font-weight: bold;
    padding: .6rem 1rem;
    border-radius: 4px;
    transition: background-color 150ms;
    transition: all .2s cubic-bezier(0.17,0.17,0.41,1.0);

}
#navbar-container {
    height: 100%;
}



