@use "global.scss";

// bootstrap overrides
.nav-link {
  color: var(--bs-nav-link-color);
}

.navbar-nav .dropdown-menu {
  position: absolute !important;
}

.navbar-nav.p-headerNavList {
  flex-direction: row !important;
}

// navbar rules
#navbar-item {
  color: white
}

.p-headerNav {
  display: none;
}

.p-headerNavListWrapper {
  position: relative;
}

.p-header {
  height: 3.75rem;
  left: 0;
  padding: 0 1.6875rem;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 11;
}

.nav-item>a {
  position: relative;
  display: inline-block;
  padding: .5em 1em .4em;
}

.nav-item {
  padding: .4em .8em;
}

.p-header__inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: flex-end;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  -webkit-transition-duration: .2s, .6s, .6s;
  transition-duration: .2s, .6s, .6s;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
  -webkit-transition-timing-function: linear, cubic-bezier(.19, 1, .22, 1), cubic-bezier(.19, 1, .22, 1);
  transition-timing-function: linear, cubic-bezier(.19, 1, .22, 1), cubic-bezier(.19, 1, .22, 1);
  width: 100%;
}

.p-headerNavList {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  align-items: center;
  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: flex-end;
  position: relative;
  z-index: 1;
}

.p-headerNavListItem__inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: flex-start;
  padding: 1.25rem .9375rem;
  position: relative;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  width: 100%;
}

.p-headerNavListItem__label {
  -webkit-font-feature-settings: normal;
  font-feature-settings: normal;
  display: inline-block;
  font-family: global.$main-font;
  font-size: .875rem;
  font-weight: 500;
  letter-spacing: -.04em;
  line-height: .92;
  position: relative;
  text-transform: uppercase;
  text-transform: none;
  white-space: nowrap;
  z-index: 1;
  color: #ffffff;

}

.p-headerNavListItem {
  pointer-events: all;
  position: relative;
}

.p-headerNavListItem:not(:first-child) {
  margin-left: .625rem;
}

// shrink navbar on scroll
.p-header__inner {
  transition-duration: .2s, .4s, .2s;
  transition-timing-function: linear, cubic-bezier(.19, 1, .22, 1), cubic-bezier(.19, 1, .22, 1);
  transition-property: opacity, -webkit-transform, transform;
}

[data-is-scrolled="true"] .p-header__inner {
  -webkit-transform: translateY(-120%);
  transform: translateY(-120%);
  pointer-events: none;

}

[data-is-scrolled="true"] .p-header__inner {
  opacity: 1;
}

// brand img effects 
.p-headerLogo {
  height: 3.6em;
}

.p-headerLogo img {
  height: 100%;
  user-select: none;
  filter: brightness(0) invert(1) opacity(80%);
  transition: all .75s cubic-bezier(.19, 1, .22, 1);
}

.p-headerLogo img:hover {
  filter: brightness(0.2) invert(1) opacity(100%);
  transition: all .5s cubic-bezier(.19, 1, .22, 1);
  transform: scale(1.15)
}

.p-headerLogo {
  bottom: 0;
  height: 5rem;
  left: 1.6875rem;
  margin: auto 0;
  mix-blend-mode: exclusion;
  pointer-events: all;
  -webkit-transition-duration: .6s;
  transition-duration: .6s;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(.19, 1, .22, 1);
  transition-timing-function: cubic-bezier(.19, 1, .22, 1);
  width: 5.875rem;
}

.p-headerLogo,
.p-headerLogo svg {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
}

// hamburger menu
[data-is-scrolled="true"] .hamburger {
  visibility: visible;
}

// Menu Hover Effects

.p-headerNavListItem__label::after {
  position: absolute;
  -webkit-transform-origin: center left;
  transform-origin: center left;
  bottom: -0.5em;
  left: -.1em;
  width: 100%;
  height: 2px;
  content: "";
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  background-color: #ffffff;
  -webkit-transition: background-color .2s linear, -webkit-transform .4s cubic-bezier(.19, 1, .22, 1);
  transition: background-color .2s linear, -webkit-transform .4s cubic-bezier(.19, 1, .22, 1);
  transition: background-color .2s linear, transform .4s cubic-bezier(.19, 1, .22, 1);
  transition: background-color .2s linear, transform .4s cubic-bezier(.19, 1, .22, 1), -webkit-transform .4s cubic-bezier(.19, 1, .22, 1);
}

#navbar-item:hover .p-headerNavListItem__label:after,
#navbar-item.is-current .p-headerNavListItem__label:after {
  -webkit-transform: scaleX(1) !important;
  transform: scaleX(1) !important;
}


// navbar hamburger menu

[data-is-scrolled="true"] .p-menuButton {
  opacity: 1;
  -webkit-transform: none;
  transform: none;
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  -webkit-transition-duration: .2s, .2s, .6s, .6s;
  transition-duration: .2s, .2s, .6s, .6s;
  visibility: visible;
  z-index: 12;
}

.p-menuButton {
  position: fixed;
  right: 1.6875rem;
  top: 1.1875rem;
  width: 4.25rem;
  z-index: 15;
}

// hamburger menu extension

.p-menu[data-is-menu-opened="true"] {
  opacity: 1;
  visibility: visible;
}

.p-menu[data-is-menu-opened="false"] {
  opacity: 0;
  pointer-events: none;
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
  visibility: hidden;
}

.p-menu {
  opacity: 0;
  position: fixed;
  right: 1.6875rem;
  top: 1.1875rem;
  -webkit-transition-duration: .2s;
  transition-duration: .2s;
  -webkit-transition-property: opacity, visibility;
  transition-property: opacity, visibility;
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  visibility: hidden;
  z-index: 11;
}

.p-menu[data-is-menu-opened="true"] .p-menu__inner {
  border-radius: .5rem;
  -webkit-transform: translate(.625rem, -.625rem);
  transform: translate(.625rem, -.625rem);
  width: 13.75rem;
}

.p-menu__inner {
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transform-origin: top right;
	transform-origin: top right;
	-webkit-transition-duration: .6s;
	transition-duration: .6s;
	-webkit-transition-property: width,height,-webkit-transform;
	/* transition-property: width,height,-webkit-transform; */
	/* transition-property: transform,width,height; */
	transition-property: transform,width,height,-webkit-transform;
	-webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
	transition-timing-function: cubic-bezier(.19,1,.22,1);
}

.p-menu__contents {
  background-color: #414141;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 13.75rem;
}

.p-menuNav,
.p-menuNavList {
  display: block;
  position: relative;
  width: 100%;
  list-style-type: none
}

.p-menuNav {
  padding: 3.6875rem 1.8125rem 2rem;
}

li.p-menuNavListItem>a {
  text-decoration: none;
}

.p-menuNav .p-menuNavList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.p-menuNavListItem__inner {
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  align-items: center;
  /* display: -webkit-box; */
  /* display: -ms-flexbox; */
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: flex-start;
  padding-left: .3125rem;
  position: relative;
  width: 100%;
}

.p-menuNavListItem:first-child::after,
.p-menuNavListItem:last-child::after {
  background-color: white;
  bottom: -1.1875rem;
  content: "";
  height: .0625rem;
  left: .3125rem;
  opacity: .15;
  position: absolute;
  right: .3125rem;
  width: 100%;
}

.p-menuNavListItem:first-child {
  margin-bottom: 2.375rem;
}

.p-menuNavListItem:not(:first-child) {
  margin-top: .125rem;
}

.p-menuNavListItem {
  height: 1.625rem;
  position: relative;
  width: 100%;
}



// menu media rules

@media (min-width: 1024px) {
  .p-headerNav {
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    justify-content: flex-end;
    position: relative;
  }

  .p-menuButton {
    opacity: 0;
    position: fixed;
    -webkit-transform: translateX(5.625rem);
    transform: translateX(5.625rem);
    -webkit-transition-delay: 0s, 0s, .2s, .2s;
    transition-delay: 0s, 0s, .2s, .2s;
    -webkit-transition-duration: .2s, .2s, 0s, 0s;
    transition-duration: .2s, .2s, 0s, 0s;
    -webkit-transition-property: opacity, visibility, -webkit-transform;
    /* transition-property: opacity,visibility,-webkit-transform; */
    /* transition-property: opacity,visibility,transform; */
    transition-property: opacity, visibility, transform, -webkit-transform;
    -webkit-transition-timing-function: linear, linear, cubic-bezier(.19, 1, .22, 1), cubic-bezier(.19, 1, .22, 1);
    transition-timing-function: linear, linear, cubic-bezier(.19, 1, .22, 1), cubic-bezier(.19, 1, .22, 1);
    visibility: hidden;
  }

  .p-menu,
  .p-menuButton {
    right: 1.25rem;
    top: 1.25rem;
  }

  .p-menuButton {
    opacity: 0;
    position: fixed;
    -webkit-transform: translateX(5.625rem);
    transform: translateX(5.625rem);
    -webkit-transition-delay: 0s, 0s, .2s, .2s;
    transition-delay: 0s, 0s, .2s, .2s;
    -webkit-transition-duration: .2s, .2s, 0s, 0s;
    transition-duration: .2s, .2s, 0s, 0s;
    -webkit-transition-property: opacity, visibility, -webkit-transform;
    transition-property: opacity, visibility, -webkit-transform;
    transition-property: opacity, visibility, transform;
    transition-property: opacity, visibility, transform, -webkit-transform;
    -webkit-transition-timing-function: linear, linear, cubic-bezier(.19, 1, .22, 1), cubic-bezier(.19, 1, .22, 1);
    transition-timing-function: linear, linear, cubic-bezier(.19, 1, .22, 1), cubic-bezier(.19, 1, .22, 1);
    visibility: hidden;
  }

  .menuNavItem__label::after {
    height: 2px;
    bottom: .1em;

  }

  .p-headerLogo {
    height: 6.75rem;
    left: 2.5rem;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    width: 10rem;
  }

  .p-headerLogo {
    margin-top: 2.5rem;
  }

  [data-is-scrolled="true"] .p-headerLogo {
    -webkit-transform: scale(.73) translate(-1.25rem, -.875rem);
    transform: scale(.73) translate(-1.25rem, 0.875rem);
  }

  .p-header {
    height: 5.25rem;
    padding: 0 2.5rem;
  }

  .nav-item>a {
    padding: .4em .8em;
    position: relative;
  }
}