.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 7rem;
    padding: 0 var(--side-margin);
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,.1333333333);
    width: 100%;
    z-index: 10;
    position: fixed;
    transition: height 300ms;
}

.navbar-scrolled {
    height: 4.1176470588rem !important;
    transition: height 300ms;   
}

.navbar-brand img {
    height: 100%;
    user-select: none;} 

.navbar-brand   {
    width: fit-content;
    height: 100%;
    margin-right: 2rem;
    padding: .4rem 0;
    color: #000;
    display: flex;
}

.nav-item {
    padding: .6rem 1rem;
    border-radius: 4px;
    transition: background-color 150ms;
}
#navbar-item:hover {
    background-color: var(--item-background, rgba(0,97,155,1));
    color: #fff;  
    transition: all 0.1s ease-in-out 0s;
}
#navbar-item {
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold;
    padding: .6rem 1rem;
    border-radius: 4px;
    transition: background-color 150ms;
}
#navbar-container {
    height: 100%;
}

.nav-item .underline {
    opacity:0;
    transition:opacity .5scubic-bezier(0.17,0.17,0.41,1.0)
  }
.nav-item .underline:after,
.nav-item .underline:before {
    bottom:-.08rem;
    content:"";
    display:block;
    height:.03rem;
    left:0;
    pointer-events:none;
    position:absolute;
    right:0;
    top:auto;
    transition:all .5s cubic-bezier(0.17,0.17,0.41,1.0)
}
.nav-item .underline:before {
    background:linear-gradient(-90deg,#0f0d0d 5.33%,hsla(0,0%,100%,0) 86.67%);
    transform:scaleX(0);
    transform-origin:bottom left
}
.nav-item .underline:after {
    background:linear-gradient(90deg,#181515 5.33%,hsla(0,0%,100%,0) 86.67%);
    transform:scaleX(1);
    transform-origin:bottom right;
}
.nav-item:hover {
    cursor:pointer
}
.nav-item:hover .underline {
    opacity:1
}
.nav-item.dropdown:hover .underline:before {
    transform:scaleX(1)
}
.nav-item.dropdown:hover .underline:after {
    transform:scaleX(0)
}