
#navbar-item:hover {
    background-color: var(--item-background, rgba(0,97,155,1));
    color: #fff;  
    transition: all 0.1s ease-in-out 0s;
}
#navbar-item {
    color: #000000;
    font-size: 1.2rem;
    font-weight: bold   ;
    padding: .6rem 1rem;
    border-radius: 4px;
    transition: background-color 150ms;
}
#navbar-container {
    max-width: 1100px;
  }