.team-header-contents {
    padding-top: 7rem;
    margin: 0 auto;
    width: 61.9rem;
  }
.team-header-text {
    font-size: 23.996px;
    color:white;
    line-height: 32px;
    text-shadow: 0 0 5px #000;
}   
.team-header-title {
    font-size: 3rem;
    font-weight: 400;
    color: white;
    text-shadow: 0 0 5px #000;
}

.team-tabs-content {
    margin: 0 auto;
    width: 9.92rem;
  }
.team-tabs-people {
    display: grid;
    margin: 0 auto;
}

.team-tabs-person {
    cursor: pointer;
    width: 2.1rem;
  }
.teams-tab-person-img {
    height: 9.7rem;
    margin: 0 auto 0.16rem;
    position: relative;
    width: 10.7rem;
    border-radius: 50%; 

}
.person-img {
    height: 100%;
    margin: 0 auto .16rem;
    position: relative;
    width: 10.71rem;
    object-fit: cover;
    border-radius: 15%; 
}
.team-tabs-people-row {
    margin: 0 auto;
}
.team-tabs-person-name-desc2 {
    position: relative;
    text-align: center;
    font-size: 15.9973px;
    color: #009b87;
}
.team-tabs-person-name-desc1 {
    margin-bottom: .08rem;
    position: relative;
    text-align: center;
    font-size: 17.997px;
    color: #00619b;
}
.team-tabs {
    margin-top: 4rem;
}
.header-image-team {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left center;
    background: url("https://static.igem.wiki/teams/4584/wiki/member-pics/3bfa7c0e-8c4c-4cbb-92a9-e32e00a644ef.jpeg") fixed center center;
    background-color: rgba(0, 0, 0, 0);
    background-size: auto;
    background-size: cover;
}
.team-tabs.bg {height: 45vh}
