body {
    font-family:sans-serif;
    font: size 13px;   
    line-height:30px;
    padding-top: 56px; 
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    overflow-x:hidden;
    background-color:#efefef
}
section {
    height: 100%;
    width: 100%;
    display:inline-block;
      }
  *{
    padding:0px;
    margin:0px;
}
p {
    text-align:justify;
    font-size:20px;
    line-height:30px;
    padding-bottom:20px
}
.row.home-sections {
    margin-left: auto;
}

.section.approach.aos-init.aos-animate.data-aos {
    background-color:#060927
}
.container {
    max-width: 1440px;
}
.left-aligned { 
    margin-left: auto; 
}
.bg-dark { background-color: #1360ef !important; }
.bg-hero { background-color: #45b06cff; }
.bg-section {
    background: url(https://placehold.co/1920x500) 50% no-repeat;
      background-size: auto;
    background-size: cover; 
    height: 700px;
    padding: 80px 0;}

/* CALLOUT */
.bd-callout { padding:1.25rem; margin-top:1.25rem; margin-bottom:1.25rem; border:1px solid #e9ecef; border-left-width:.25rem; border-radius:.25rem }
.bd-callout h4 { margin-bottom:.25rem }
.bd-callout p:last-child { margin-bottom:0 }
.bd-callout code { border-radius:.25rem }
.bd-callout+.bd-callout { margin-top:-.25rem }
.bd-callout-info { border-left-color:#5bc0de }
.bd-callout-warning { border-left-color:#f0ad4e }
.bd-callout-danger { border-left-color:#d9534f }

/* footer */
.footer {
    background-color: #2a2f33 !important;
    color: #fff;
    padding-bottom: 50px;
    padding-top: 30px;
  }
footer a {color: white; text-decoration: none;}

.footer .creds .small > a:hover { 
    color: #1e6cf7;
    border-bottom: 1px solid #1e6cf7}
.footer .creds .small > a {
    border-bottom:1px solid #e5e7eb;
    transition:all .3s ease
}

.footer p {
    font-size: 14px; 
    line-height: 17px;
}
.footer .footer-details .logo-footer p {
    margin-top: 20px;
    }
.footer .footer-details .logo-footer img{
    float: left;
    margin-right: 10px; 
    margin-left: 25px;
}
.footer .footer-details .sponsors > div {
    position:relative;
}
.footer .footer-details .sponsors> div a {
    display:inline-block;
    padding:10px;
}
.footer .footer-details .sponsors> div a img {
    transition:all .25s ease;
    height:44px;
    filter:grayscale(1);
}
.footer .footer-details .sponsors> div a img:hover {
    filter: grayscale(0%);
    transition: 1.2s;
}
.footer .creds .creds-social > div {
    position:relative;
    right:0;
}
.footer .creds .creds-text > p {
    font-size: 12px;
}
.footer .creds .creds-social > div a {
    display:inline-block;
    padding:5px;
 }
.footer .creds .creds-social > div a img {
    transition:all .25s ease;
    height:30px;
    filter:grayscale(0.5);
}
.footer .creds .creds-social> div a img:hover {
    filter: invert(50%);
    transition: all .5s ease;
}
